@charset "UTF-8";

*,
::after,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-shrink: 1
}

abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none
}

hr {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  border: 0;
  height: 1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

html {
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: var(--typo-body-02)
}

body {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: keep-all;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 56px
}

body::-webkit-scrollbar {
  display: none
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

p {
  margin:0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit
}

dl,
ol,
ul {
  margin-top: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

b,
strong {
  font-weight: bolder
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom
}

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0
}

label {
  display: inline-block
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

select {
  text-transform: none;
  word-wrap: normal
}

input[type=checkbox],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #989da0
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #989da0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #989da0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #989da0
}

input::placeholder,
textarea::placeholder {
  color: #989da0
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-text-fill-color: #1c2023 !important;
  -moz-text-fill-color: #1c2023 !important;
  -ms-text-fill-color: #1c2023 !important;
  -o-text-fill-color: #1c2023 !important
}

[contenteditable=true]:empty::before {
  display: block;
  color: var(--color-gray-30);
  content: attr(placeholder)
}

img {
  width: 100%;
  height: auto;
  border: 0 none
}

img,
svg {
  vertical-align: middle
}

button {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}

em {
  font-style: normal
}

.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: ''
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  display: block;
  margin: 0;
  padding: 16px 0 16px 16px;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  color: rgba(243, 243, 243, 1)
}

textarea {
  padding: 16px;
  border: none;
  font-family: inherit;
  line-height: 1.5;
  resize: vertical
}

input[type=checkbox],
input[type=radio] {
  font-size: 0;
  display: none;
  outline: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input:not([type=checkbox]):not([type=radio]):disabled {
  background-color: #eee;
  color: var(--color-gray-30);
  border: none
}

input:not([type=checkbox]):not([type=radio]):-moz-read-only:not(.input-date) {
  background-color: rgba(var(--color-primary), .04)
}

input:not([type=checkbox]):not([type=radio]):-moz-read-only:not(.input-date):not(:disabled) {
  background-color: rgba(var(--color-primary), .04)
}

input:not([type=checkbox]):not([type=radio]):read-only:not(.input-date):not(:disabled) {
  background-color: rgba(var(--color-primary), .04)
}

input:not([type=checkbox]):not([type=radio]).input-s {
  padding: 10px 0;
  font-size: 15px
}

input:not([type=checkbox]):not([type=radio]).input-m {
  padding: 20px 0;
  font-size: 16px
}

input:not([type=checkbox]):not([type=radio]).input-l {
  padding: 12px;
  font-size: 18px
}

select:not(.width_tmp_select) {
  display: block;
  margin: 0;
  padding: 14px 0;
  font-size: 14px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(61, 69, 75, .16);
  background-color: transparent;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0.666749L5 4.66675L9 0.666749L5 0.666749L1 0.666749Z' fill='%233D454B'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.35354 5.0203C5.15828 5.21556 4.84169 5.21556 4.64643 5.0203L0.646432 1.0203C0.503433 0.877303 0.460655 0.662244 0.538046 0.475407C0.615436 0.288569 0.797754 0.166749 0.999985 0.166749L8.99999 0.166749C9.20222 0.166749 9.38453 0.288569 9.46193 0.475407C9.53932 0.662244 9.49654 0.877303 9.35354 1.0203L5.35354 5.0203ZM7.79288 1.16675L2.20709 1.16675L4.99999 3.95964L7.79288 1.16675Z' fill='%233D454B'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 96.4% center;
  color: inherit
}

select:disabled {
  background-color: rgba(var(--color-primary), .04);
  color: var(--color-primary-30);
  opacity: 1
}


sub,
sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}

code,
kbd,
pre,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: .875em
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal
}

code {
  font-size: .875em;
  color: var(--bs-code-color);
  word-wrap: break-word
}

a>code {
  color: inherit
}

kbd {
  padding: .1875rem .375rem;
  font-size: .875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: .25rem
}

kbd kbd {
  padding: 0;
  font-size: 1em
}

figure {
  margin: 0 0 1rem
}

button:focus:not(:focus-visible) {
  outline: 0
}

[role=button] {
  cursor: pointer
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}

::-moz-focus-inner {
  padding: 0;
  border-style: none
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit
}

@media (min-width:1200px) {
  legend {
    font-size: 1.5rem
  }
}

legend+* {
  clear: left
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0
}

::-webkit-inner-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
  padding: 0
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button
}

output {
  display: inline-block
}

summary {
  display: list-item;
  cursor: pointer
}

progress {
  vertical-align: baseline
}

[hidden] {
  display: none !important
}